<!DOCTYPE html>
<html>
  <head>
    <title>bopoha 2.0: Java\Scala\8bit\zen</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet">        
    <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />    
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://voronkin.github.io"><img src="http://voronkin.github.io/images/crow2.png" width="32"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://voronkin.github.io">Главная</a></li>
            <li><a href="http://voronkin.github.io/blog">Блог</a></li>
            <li><a href="http://voronkin.github.io/projects">Проекты</a></li>
            <li><a href="http://voronkin.github.io/contacts">Контакты</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://voronkin.github.io/about">About</a></li>            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="main" role="main" class="container">      
      {{ content }}
    </div>  

    {% include analytics.html %}
  </body>
</html>
